*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.NavBar_Container{
  border: 1px solid rgb(243, 79, 79);
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem 0px 2rem;
}

 .NavBar_detail{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: fit-content;
  gap: 2rem;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;


}

.home{
  text-decoration: none;
  color: black;
}

.NavBar_title_logo{
  width: 0%;
}

.Navbar_product:hover{
  cursor: pointer;
}

.Navbar_product_ul{
  position: absolute;
  top: 2.3rem;
  display: none;
  width: 100%;
  
}

.Navbar_product:hover .Navbar_product_ul{
  cursor: pointer;
  display: grid;
  border: 1px solid black;
}

.Navbar_product_li{
  border: 1px solid black;
  text-decoration: none;
  color: black;
  height: 2rem;
  padding: 5px;


  
}

.Navbar_product_li:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.NavBar_category{
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cart{
  height: 2rem;
  width: 100%;

}

.dot{
position: absolute;
top: 2%;
left: 90%;
padding: 2px;
border-radius: 100%;
font-size: 10px;
background-color: red;
color: white;
font-family: monospace;

}

/* homepage (Hero section) */

.Homepage_container{
  border: 1px solid black;
  background-color: rgb(165, 152, 142);
  /* padding: 1rem; */

}

.Herosection{
  /* border: 1px solid red; */
  /* background-color: thistle; */
  height: 80vh;
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
  
}

.Herosection_details{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-left: 5rem;
 
}

.Herosection_details div:nth-child(2), .Herosection_details div:nth-child(3) {
  font-size: 3rem;
  font-weight: 640;
}

.Herosection_details button{
  background-color: black;
  color: white;
  height: 3.5rem;
  width: 12rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: ease-in-out color 0.5s ;
}

.Herosection_details button:hover{
  cursor: pointer;
  color: rgba(255, 255, 255, 0.637);
}

.Herosection_details button:active{
  transform: scale(1.03);
}

.Herosection_img{

  height: 70vh;
  width: 30vw;
  object-fit: contain;
  /* border: 1px solid red;   */
}


/* homepage (popular ) */

.Popularsection_container{
/* border: 1px solid red; */
}

.RelatedProduct_title{
  font-size: 3rem;
  font-weight: 500;
  font-family:fantasy;
}

.Popularsection_title{
  text-align: center;
}

.Popularsection_title div:nth-child(1){
  /* border: 1px solid red; */
}

.Popularsection_title div:nth-child(2){
  font-size: 3rem;
  font-weight: 500;
}

.Popularsection_showcards{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* card */

