.Footer_container{

height: 40vh;
display: flex;
justify-content: center;
align-items:center ;
flex-direction: column;
background-color: bisque;
}

.Footer_container div:nth-child(1){
    font-size: 1.73rem;

}

.icon{
    text-decoration: none;
    color: black;
}


.icon:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.Footer_category{
    margin-top: 0.5rem;
    /* border: 1px solid black; */
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    text-transform: uppercase;

}

.footer_link{
    text-decoration: none;
    color: black;
    transition: ease 0.5s all;
    border-left: 1px solid black;
    padding-left: 1rem;

}

.footer_link:first-child{
    border-left: 0px solid black;
}

.footer_link:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transform: scale(1.03);

}

.connected{
    display: flex;
    gap: 1rem;
    /* border: 1px solid red; */
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last_footer{
    height: 2rem;
    text-align: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
}