.individual_category_container{
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 28vw));
    padding: 2rem 2rem 2rem 4rem;
    row-gap: 2rem;
    column-gap: 2rem;
}

.individual_category_wrapper{
    border: 1px solid black;
    display: grid;
    place-items: center;
    
    
}

.individual_category_wrapper img{
    border: 1px solid black;

    height: 60vh;
    width: 28vw;
    object-fit: contain;
}