.mainGame{

    border: 5px solid orange;
    display: grid;
    padding: 1rem 0rem;
    place-items:center;
    width: 100%;
    /* grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); */
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
    15px 15px 15px rgba(0,0,0,0.1);

}

button:active{
    transform: scale(0.95);
}