.Finish_card{
    /* border: 1px solid black; */
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Jersey 10", sans-serif;

}