
.Powerups_icons{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;


}

.powerup{
    height: 90%;
    width: 10%;
    
}